<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!-- 統一大寫開頭為自訂義變數，小寫開頭為內建變數 -->
  <variable name="Date" value="${date:format=yyyy\/MM\/dd}"/>
  <variable name="Time" value="${date:format=HH\:mm\:ss\.fff}"/>
  <variable name="Level" value="${pad:padding=-5:fixedLength=true:${level:uppercase=true}}"/>
  <variable name="ThreadId" value="${pad:padding=3:fixedLength=true:${threadid}}"/>
  <variable name="ClassName" value="${callsite:includeNamespace=false:className=true:methodName=false}"/>
  <variable name="MethodName" value="${callsite:includeNamespace=false:className=false:methodName=true}"/>
  <variable name="Stack" value="${pad:padding=-25:fixedLength=true:${ClassName}.${MethodName}}"/>
  <variable name="Exception" value="
            ${newLine}=========================================================================
            ${newLine}時間：${longdate}
            ${newline}Log等級：${level:uppercase=true}
            ${newline}Logger：${logger}
            ${newline}Source：${callsite:className=true}
            ${newline}Exception類別：${exception:format=type}
            ${newline}錯誤訊息：${message}
            ${newline}${onexception:${exception:format=tostring}} 
            ${newline}=========================================================================
            ${newline}"/>
  <variable name="OnException" value="${onexception:inner=${newline}${Exception}}"/>
  
  <variable name="Layout" 
            value="${Date} ${Time} ${ThreadId} [${Level}] ${Stack} : ${message}${OnException}"/>
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File" name="LogFile"
            fileName="${basedir}/Logs/${shortdate}.log"
            archiveFileName="${basedir}/Logs/EventLog_${shortdate}.{#}.txt"
            maxArchiveFiles="90" archiveAboveSize="1000000" 
            encoding="utf-8"
            layout="${Layout}"/>
    <target xsi:type="Console" name="Console"
            layout="${Layout}"/>
    <target xsi:type="ColoredConsole" name="ColoredConsole"
            layout="${Layout}" useDefaultRowHighlightingRules="false">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
            <highlight-word regex="\d{4}/\d{2}/\d{2}\s\d{2}:\d{2}:\d{2}\.\d+" foregroundColor="DarkGreen"/>
            <highlight-word regex="\d{2}:\d{2}:\d{2}\.\d+[Ss]" foregroundColor="DarkMagenta"/>
            <highlight-word regex="\s+\d+\s" foregroundColor="DarkCyan"/>
            <highlight-word regex="\s+GET|POST|DELETE|PUT|OPTION\s" foregroundColor="DarkCyan"/>
            <highlight-word foregroundColor="Blue">
                <regex>
                    <![CDATA[(?<=\])\s[<\w>]*\s*(?=:)]]>
                </regex>
            </highlight-word>
            <highlight-word regex="No correlation ID was found in the request headers" foregroundColor="DarkGray"/>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- <logger name="*" minlevel="Info" writeTo="Console"/> -->
    <logger name="*" minlevel="Info" writeTo="ColoredConsole"/>
    <logger name="*" minlevel="Info" writeTo="LogFile"/>
  </rules>
</nlog>
